---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios">
  <main class="bg-second">
    <div class="container p-5">
      <h2 class="display-5 text-first montserrat-bold mb-4">
        Políticas de servicios
      </h2>
      <p class="lead">
        • VENIR SIN MAQUILLAJE DEBIDO A QUE EL MAQUILLAJE PUEDE AFECTAR EN SU
        SERVICIO.
      </p>
      <p class="lead">
        • VENIR SIN ACOMPAÑANTE, EL ESTUDIO ES PEQUEÑO.
      </p>
      <p class="lead">
        • SI UTILIZA LENTES DE CONTACTO TRAER EL ENVASE PARA GUARDARLOS.
      </p>
      <p class="lead">• NO SE ACEPTAN NIÑOS.</p>
      <p class="lead">
        • DEBE REALIZAR UN ABONO DEL 25% DE SU SERVICIO PARA SEPARAR SU CITA EL
        CUAL SERÁ INCLUIDO EN SU SERVICIO.
      </p>
      <p class="lead">
        • EL ABONO NO ES REEMBOLSABLE BAJO NINGUNA CIRCUNSTANCIA, SI TIENE ALGUN
        INCONVENIENTE PARA ASISTIR A SU CITA SE LE PUEDE REAGENDAR AVISANDO
        HASTA MÁXIMO 24 HORAS ANTES DE LA MISMA. SE REAGENDA UNA SOLA VEZ.
      </p>
      <p class="lead">
        • SE ESPERA MÁXIMO 15 MINUTOS DE ATRASO, YA QUE DESPUÉS DE USTED VIENE
        OTRA CLIENTA Y ME GUSTA DARLE UN SERVICIO DE CALIDAD Y PERSONALIZADO A
        CADA UNA DE USTEDES.
      </p>
      <p class="lead fw-bold">
        AL REALIZAR SU DEPÓSITO USTED ESTÁ DE ACUERDO, ACEPTA LAS POÍTICAS Y
        ASUME LA RESPONZABILIDAD DE CUMPLIRLAS
      </p>
    </div>
  </main>
</Layout>
