---

---

<nav class="navbar justify-content-center py-4">
    <a class="nav-link mx-3 fs-5 text-third fw-bold" href="/">Inicio</a>
    <a class="nav-link mx-3 fs-5 text-third fw-bold" href="/services">Servicios</a>
    <a class="nav-link mx-3 fs-5 text-third fw-bold" href="/gallery">Galeria</a>
    <a class="nav-link mx-3 fs-5 text-third fw-bold" href="/contact">Contacto</a>
</nav>