---
import Testimony_card from "./testimonyCard"
---
<!-- -------------------- -->
<!-- galeria para desktop -->
<!-- -------------------- -->
<div id="carouselDesktop" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container d-flex justify-content-center p-5">
        <Testimony_card
          name="ARIANA BEJERANO"
          imageUrl="/images/testimonios/001.jpg"
          text="MIIIIIIIII PRECIOSA CLAU gracias por tanto por mis cejas por tu cari침o tu amistad por ser como eres t칰 eres m치s hermosa te quiero mucho !!! Y como te lo dije hoy te mereces lo mejor del mundo 仇벒잺 cuentas conmigo siempre."
          client:load
        />
        <Testimony_card
          name="LARITZA"
          imageUrl="/images/testimonios/002.jpg"
          text="Mis primeras cajitas fueron en tus bendecidas manos estar치 Ba침os todav칤a con el uso de la mascarilla 游땽 y reci칠n hab칤an abierto las carreteras para que los municipios pudieran ir a provincias y fue la mejor decisi칩n luego volv칤 dos veces m치s hasta que fuiste en busca de tus sue침os BENDICIONES CLAUDIA"
          client:load
        />
        <Testimony_card
          name="MAYELA GONZ츼LEZ"
          imageUrl="/images/testimonios/003.jpg"
          text="Mi amor bello s칰per complacida hace ya como 2 a침os me hiciste mis cajitas y mis labios 游녟 no puede entregarme a mejores manos estoy s칰per feliz de ser tu clienta y amiga tkmmmmm y sabes que pronto estoy ah칤 游땢"
          client:load
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="container d-flex justify-content-center p-5">
        <Testimony_card
          name="ASHLEY LANDAVERDE"
          imageUrl="/images/testimonios/004.jpg"
          text="Yo nunca me hab칤a realizado un procedimiento como el microblading o la pigmentaci칩n en los labios pero a pesar de que ten칤a un poquito de miedo al principio, fue lo mejor que me pudo haber pasado 游땘游땘游땘 Estoy enamorada de los resultados y de lo bella que me dejaste. Es incre칤ble como un cambio tan peque침o puede hacer una gran diferencia. Gracias por hacer una gran diferencia. Gracias por hacer un trabajo tan maravilloso Claudia"
          client:load
        />
        <Testimony_card
          name="DIANYK CABRERA"
          imageUrl="/images/testimonios/005.jpg"
          text="Bueno mi vida lo primero que me realice contigo fue mis cejitas, que pr치cticamente parec칤an que nunca me las hab칤a sacado, me las dejaste m치s que perfectas, la calidad de trabajo y productos es un 100% muy profesional.... tambi칠n me hice una limpieza facial donde me quitaste todos los puntos blancos, la textura de mi piel es impresionante, suave, hidratada... y lo 칰ltimo fue la depilaci칩n l치ser que fue recientemente, una experiencia muy satisfactoria en tus manos es garant칤a de excelencia y lo m치s importante es el trato que brindas muy amable, atenta y confiable... s칰per complacida con todos los servios"
          client:load
        />
        <Testimony_card
          name="MAITE 츼LVAREZ TANG"
          imageUrl="/images/testimonios/006.jpg"
          text="Hola Clau encanta con tu trabajo me hice las cejas contigo hace 2 a침os y pronto voy por m치s servicios tuyos, eres una incre칤ble me encantan tus trabajos bendiciones 游똂游낕"
          client:load
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="container d-flex justify-content-center p-5">
        <Testimony_card
          name="BRIANIS CLAUDIA LEIVA"
          imageUrl="/images/testimonios/007.jpg"
          text="Yo me he hecho de todo contigo 游땍游땍 empezar por l치ser y no que cu치ntas cosas me he hecho, y eres la mejor 鮫봺잺 tu sabes que yo te adoro mucho mucho hace rato no voy a verte por cosas de la vida pero ma침ana ya de nuevo en tus manos 鮫봺잺 eres la mejor de la mejor 鮫봺잺"
          client:load
        />
        <Testimony_card
          name="YILENA VELAZQUEZ"
          imageUrl="/images/testimonios/008.jpg"
          text="Yo hace dos a침os lo que me hice fue un blanqueamiento dental pero me encant칩 el resultado, y desde que v칤 tus trabajos de cejitas qued칠 fascinada con ti trabajado no te imaginas la motivaci칩n que he sentido es tanta la admiraci칩n 游똂游낕 porque tus trabajos son perfectamente hermosos y estoy muy feliz contando los d칤as para pasar el curso contigo xq amo arreglar cejitas y quiero aprender m치s c칩mo t칰 游똂游낕游똂游낕游똂游낕游똂游낕"
          client:load
        />
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- ------------------ -->
<!-- galeria para movil -->
<!-- ------------------ -->

<div id="carouselMovil" class="carousel slide d-md-none" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselMovil" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <Testimony_card
        name="ARIANA BEJERANO"
        imageUrl="/images/testimonios/001.jpg"
        text="MIIIIIIIII PRECIOSA CLAU gracias por tanto por mis cejas por tu cari침o tu amistad por ser como eres t칰 eres m치s hermosa te quiero mucho !!! Y como te lo dije hoy te mereces lo mejor del mundo 仇벒잺 cuentas conmigo siempre."
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="LARITZA"
        imageUrl="/images/testimonios/002.jpg"
        text="Mis primeras cajitas fueron en tus bendecidas manos estar치 Ba침os todav칤a con el uso de la mascarilla 游땽 y reci칠n hab칤an abierto las carreteras para que los municipios pudieran ir a provincias y fue la mejor decisi칩n luego volv칤 dos veces m치s hasta que fuiste en busca de tus sue침os BENDICIONES CLAUDIA"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="MAYELA GONZ츼LEZ"
        imageUrl="/images/testimonios/003.jpg"
        text="Mi amor bello s칰per complacida hace ya como 2 a침os me hiciste mis cajitas y mis labios 游녟 no puede entregarme a mejores manos estoy s칰per feliz de ser tu clienta y amiga tkmmmmm y sabes que pronto estoy ah칤 游땢"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="ASHLEY LANDAVERDE"
        imageUrl="/images/testimonios/004.jpg"
        text="Yo nunca me hab칤a realizado un procedimiento como el microblading o la pigmentaci칩n en los labios pero a pesar de que ten칤a un poquito de miedo al principio, fue lo mejor que me pudo haber pasado 游땘游땘游땘 Estoy enamorada de los resultados y de lo bella que me dejaste. Es incre칤ble como un cambio tan peque침o puede hacer una gran diferencia. Gracias por hacer una gran diferencia. Gracias por hacer un trabajo tan maravilloso Claudia"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="DIANYK CABRERA"
        imageUrl="/images/testimonios/005.jpg"
        text="Bueno mi vida lo primero que me realice contigo fue mis cejitas, que pr치cticamente parec칤an que nunca me las hab칤a sacado, me las dejaste m치s que perfectas, la calidad de trabajo y productos es un 100% muy profesional.... tambi칠n me hice una limpieza facial donde me quitaste todos los puntos blancos, la textura de mi piel es impresionante, suave, hidratada... y lo 칰ltimo fue la depilaci칩n l치ser que fue recientemente, una experiencia muy satisfactoria en tus manos es garant칤a de excelencia y lo m치s importante es el trato que brindas muy amable, atenta y confiable... s칰per complacida con todos los servios"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="MAITE 츼LVAREZ TANG"
        imageUrl="/images/testimonios/006.jpg"
        text="Hola Clau encanta con tu trabajo me hice las cejas contigo hace 2 a침os y pronto voy por m치s servicios tuyos, eres una incre칤ble me encantan tus trabajos bendiciones 游똂游낕"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="BRIANIS CLAUDIA"
        imageUrl="/images/testimonios/007.jpg"
        text="Yo me he hecho de todo contigo 游땍游땍 empezar por l치ser y no que cu치ntas cosas me he hecho, y eres la mejor 鮫봺잺 tu sabes que yo te adoro mucho mucho hace rato no voy a verte por cosas de la vida pero ma침ana ya de nuevo en tus manos 鮫봺잺 eres la mejor de la mejor 鮫봺잺"
        client:load
      />
    </div>
    <div class="carousel-item">
      <Testimony_card
        name="YILENA VELAZQUEZ"
        imageUrl="/images/testimonios/008.jpg"
        text="Yo hace dos a침os lo que me hice fue un blanqueamiento dental pero me encant칩 el resultado, y desde que v칤 tus trabajos de cejitas qued칠 fascinada con ti trabajado no te imaginas la motivaci칩n que he sentido es tanta la admiraci칩n 游똂游낕 porque tus trabajos son perfectamente hermosos y estoy muy feliz contando los d칤as para pasar el curso contigo xq amo arreglar cejitas y quiero aprender m치s c칩mo t칰 游똂游낕游똂游낕游똂游낕游똂游낕"
        client:load
      />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMovil" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMovil" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>